tcProxy-examples/target
tcProxy-examples/dependency-reduced-pom.xml
tcProxy-gui/target/
tcProxy-gui/dependency-reduced-pom.xml
tcProxy-proxy/target/
tcProxy-io-api/target/
tcProxy-io-jsl/target/
tcProxy-cli/target/
tcProxy-cli/dependency-reduced-pom.xml
tcProxy-cli-argument-parser/target/
*.iml
*.project
*.classpath
.idea
*.settings
/.project
