tcProxy-gui/target/
tcProxy-gui/dependency-reduced-pom.xml
tcProxy-proxy/target/
tcProxy-io/target/
tcProxy-cli/target/
tcProxy-cli/dependency-reduced-pom.xml
*.iml
*.project
*.classpath
.idea
*.settings
/.project
